body {
    background-color: var(--background);
}

.navbar,
.navbar code {
    background-color: var(--navbar-color);
    color: var(--navbar-text-color);
}

.footer {
    background-color: var(--footer-color);
}

.color1 {
    color: var(--color1)
}

.color2 {
    color: var(--color2);
}

@keyframes change-background {
    0% {
        background-color: #69b7eb;
    }
    50% {
        background-color: #b3dbd3;
    }
    100% {
        background-color: #f4d6db;
    }
}